In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

In [3]:
df=pd.read_csv("C:\\Users\\kiran\\Downloads\\Fraud_check.csv")
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [9]:
label_encoder=preprocessing.LabelEncoder()

In [15]:
df["Undergrad"] = label_encoder.fit_transform(df["Undergrad"])

df["Marital.Status"] = label_encoder.fit_transform(df["Marital.Status"])

df["Urban"] = label_encoder.fit_transform(df["Urban"])

In [16]:
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,2,68833,50047,10,1
1,1,0,33700,134075,18,1
2,0,1,36925,160205,30,1
3,1,2,50190,193264,15,1
4,0,1,81002,27533,28,0
...,...,...,...,...,...,...
595,1,0,76340,39492,7,1
596,1,0,69967,55369,2,1
597,0,0,47334,154058,0,1
598,1,1,98592,180083,17,0
599,0,0,96519,158137,16,0

In [17]:
df["taxable_income"]=df["Taxable.Income"].map(lambda a:'risky'if a<=30000 else 'good')

In [18]:
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,taxable_income
0,0,2,68833,50047,10,1,good
1,1,0,33700,134075,18,1,good
2,0,1,36925,160205,30,1,good
3,1,2,50190,193264,15,1,good
4,0,1,81002,27533,28,0,good
...,...,...,...,...,...,...,...
595,1,0,76340,39492,7,1,good
596,1,0,69967,55369,2,1,good
597,0,0,47334,154058,0,1,good
598,1,1,98592,180083,17,0,good
599,0,0,96519,158137,16,0,good

In [19]:
#df["taxable_income"] = label_encoder.fit_transform(df["taxable_income"])

In [20]:
df1 = df.drop(["Taxable.Income"],axis=1)

In [21]:
df1

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,taxable_income
0,0,2,50047,10,1,good
1,1,0,134075,18,1,good
2,0,1,160205,30,1,good
3,1,2,193264,15,1,good
4,0,1,27533,28,0,good
...,...,...,...,...,...,...
595,1,0,39492,7,1,good
596,1,0,55369,2,1,good
597,0,0,154058,0,1,good
598,1,1,180083,17,0,good
599,0,0,158137,16,0,good

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    int64
 1   Marital.Status   600 non-null    int64
 2   City.Population  600 non-null    int64
 3   Work.Experience  600 non-null    int64
 4   Urban            600 non-null    int32
 5   taxable_income   600 non-null    object
dtypes: int32(1), int64(4), object(1)
memory usage: 25.9+ KB

In [23]:
# dividing the inputs and output:-
X=df1.iloc[:,:-1]
Y=df1.iloc[:,-1]

In [24]:
# spliting the data into train and test:-
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

In [25]:
y_train.shape

(480,)

In [26]:
y_test.shape

(120,)

# Building the Decision Tree using Entropy crietria:-

In [27]:
model = DecisionTreeClassifier(criterion='entropy')
model.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [28]:
# plotting decision tree:-

#fn =['Undergrad', 'Marital.Status','City.Population','Work.Experience','Urban']
#cn=['good','risky']

#fig,axes=plt.subplots(nrows=1, ncols=1,figsize=(4,3),dpi(800))

tree.plot_tree =(model);

In [38]:
tree.plot_tree(model);

TypeError: 'DecisionTreeClassifier' object is not callable

In [31]:
pred_train=(model.predict(x_train))

In [32]:
pred_train

array(['good', 'risky', 'risky', 'good', 'good', 'good', 'good', 'good',
       'risky', 'good', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'good', 'risky', 'good', 'good', 'good', 'risky', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'risky', 'risky', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'risky', 'good', 'risky', 'good', 'good', 'good', 'good',
       'risky', 'good', 'good', 'good', 'risky', 'good', 'good', 'good',
       'good', 'risky', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'risky', 'good', 'risky', 'risky', 'good', 'good',
       'good', 'risky', 'good', 'good', 'good', 'risky', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'risky', 'good', 'good',
       'good', 'good', 'good', 'risky', 'risky', 'risky', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'risky', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'risky', 'good', 'good', 'risky', 'risky', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'risky', 'good', 'good', 'risky', 'risky', 'risky', 'good',
       'good', 'good', 'good', 'good', 'good', 'risky', 'risky', 'good',
       'risky', 'good', 'good', 'good', 'risky', 'good', 'good', 'risky',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'risky', 'good', 'good', 'good', 'good', 'risky', 'risky', 'good',
       'risky', 'risky', 'good', 'good', 'risky', 'good', 'good', 'good',
       'good', 'risky', 'good', 'risky', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risky', 'good', 'good', 'good', 'good',
       'good', 'good', 'risky', 'risky', 'good', 'good', 'good', 'good',
       'good', 'good', 'risky', 'risky', 'good', 'good', 'risky', 'good',
       'risky', 'good', 'good', 'good', 'good', 'risky', 'risky', 'good',
       'good', 'good', 'good', 'good', 'risky', 'good', 'good', 'good',
       'risky', 'good', 'good', 'good', 'risky', 'good', 'good', 'risky',
       'risky', 'good', 'good', 'good', 'good', 'good', 'good', 'risky',
       'risky', 'good', 'good', 'good', 'good', 'risky', 'good', 'good',
       'good', 'risky', 'risky', 'good', 'good', 'good', 'good', 'good',
       'risky', 'good', 'good', 'good', 'good', 'good', 'good', 'risky',
       'good', 'good', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'risky', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risky', 'good', 'risky', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'risky', 'good', 'risky',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'good', 'good', 'risky', 'good', 'good', 'risky', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'risky', 'risky', 'good', 'good', 'good', 'risky', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'risky', 'good', 'risky', 'risky', 'good', 'risky', 'good', 'good',
       'good', 'good', 'risky', 'good', 'good', 'risky', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risky', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risky', 'good', 'good', 'good',
       'risky', 'good', 'good', 'risky', 'good', 'good', 'good', 'good',
       'good', 'good', 'risky', 'risky', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risky', 'good', 'risky', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risky', 'risky',
       'good', 'good', 'good', 'risky', 'good', 'good', 'good', 'risky',
       'good', 'risky', 'risky', 'risky', 'risky', 'good', 'good', 'good',
       'good', 'good', 'risky', 'risky', 'good', 'good', 'risky', 'good'],
      dtype=object)

In [33]:
actual_train = pd.DataFrame(y_train)
actual_train

    taxable_income
461           good
471          risky
288          risky
297           good
30            good
..             ...
280          risky
504           good
400           good
362          risky
250           good

[480 rows x 1 columns]

In [34]:
pd.crosstab(y_train,pred_train)

col_0           good  risky
taxable_income
good             374      0
risky              0    106

In [36]:
# now predicting it on test data:-

In [39]:
pred_test = model.predict(x_test)

In [40]:
pred_test

array(['good', 'good', 'good', 'good', 'risky', 'risky', 'risky', 'good',
       'good', 'good', 'risky', 'good', 'good', 'good', 'good', 'risky',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'risky', 'good', 'good', 'good', 'good', 'good', 'good',
       'risky', 'good', 'good', 'risky', 'risky', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'good', 'good', 'risky', 'risky', 'risky', 'good', 'good',
       'good', 'risky', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'risky', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'good', 'good', 'risky', 'good', 'risky', 'good', 'good',
       'good', 'risky', 'good', 'good', 'good', 'good', 'risky', 'good',
       'good', 'good', 'good', 'risky', 'risky', 'risky', 'good', 'good',
       'good', 'good', 'good', 'risky', 'risky', 'good', 'good', 'good',
       'good', 'good', 'good', 'risky', 'good', 'good', 'risky', 'good',
       'good', 'risky', 'good', 'good', 'good', 'good', 'good', 'good'],
      dtype=object)

In [41]:
y_test

31      good
524    risky
484     good
587     good
515     good
       ...
106    risky
247    risky
238     good
552     good
80      good
Name: taxable_income, Length: 120, dtype: object

In [42]:
pd.crosstab(y_test,pred_test)

col_0           good  risky
taxable_income
good              79     23
risky             12      6

In [43]:
# checking the accuracy on test data:-

In [44]:
model.score(x_test,y_test)

0.7083333333333334

In [45]:
# or

In [46]:
np.round(pred_test==y_test).mean()

0.7085